{% extends 'itineris/base.html' %}

{% block content %}
<div class="row">
    <h1>Iniciar sesión</h1>
</div>
<form action="" method=POST>
    {% csrf_token %}
    <div class="row-login">
        <div class="travel-col">
            <form class="comment-form">
                <p>Email</p>
                <input type="email" placeholder="email" name="email">
                <p>Contraseña</p>
                <input type="password" placeholder="contraseña" name="password">
                <br>
                <br>
                <center>
                    <button type="submit" class="hero-btn">Ingresar</button>
                    <br>
                    <a href="sign-up.html">¿No tienes una cuenta? Registrate</a>
                </center>
            </form>
        </div>
    </div>
</form>

{% endblock %}