{% extends 'itineris/base.html' %}

{% block content %}

    <br>
<div class="container">
<h1>Sobre Nosotros</h1>
    <section class="about_us">

        <div class="row">
            <div class="wwu-col">
                <p>En Itineris, somos un equipo de tres apasionados estudiantes de ingeniería en sistemas enfocados en 
                    transformar el transporte de larga distancia en Argentina. Nos dedicamos a ofrecer un servicio 
                    eficiente y conectado, utilizando tecnología avanzada para optimizar rutas y garantizar un viaje 
                    sin complicaciones. Nuestra misión es redefinir la experiencia de viaje, proporcionando comodidad y 
                    eficiencia a cada pasajero. Únete a nosotros en este emocionante viaje hacia el futuro del 
                    transporte interurbano.
                </p>
            </div>
            <div class="wwu-col">
                <img src="../../static/itineris/images/team-work.jpg">
            </div>
        </div>
    </section>
</div>

{% endblock %}