{% extends 'itineris/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {% for traveler in travelers %}
                <div class="card mb-4" style="width: 18rem;">
                    <div class="card-body">
                        <p>{{ traveler.first_name }}</p>
                        <p>{{ traveler.last_name }}</p>
                        <p>{{ traveler.dni }}</p>
                        <p>{{ traveler.email }}</p>
                        <p>{{ traveler.phone }}</p>
                        <p>{{ traveler.address_origin }}</p>
                        <p>{{ traveler.address_destination }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}