{% extends 'itineris/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {% for traveler in travelers %}
                <div class="card mb-4" style="width: 18rem;">
                    <div class="card-body">
                        <p>{{ traveler.first_name }}</p>
                        <p>{{ traveler.last_name }}</p>
                        <p>{{ traveler.dni }}</p>
                        <p>{{ traveler.email }}</p>
                        <p>{{ traveler.phone }}</p>
                        <p>{{ traveler.address_origin }}</p>
                        <p>{{ traveler.address_destination }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col"><div id="wallet_container">
            </div>
        </div>
    </div>
</div>
    
<script>
    const mp = new MercadoPago('APP_USR-9f3337f7-63a3-4b00-aeb8-217693ccc7cd', {
        locale: 'es-AR'
        });

    mp.bricks().create("wallet", "wallet_container", {
        initialization: {
            preferenceId: "{{ preference.id }}",
        },
    });

</script>

{% endblock %}