{% extends 'itineris/base.html' %}

{% block content %}
<head>
    <title>Crear viaje</title>
    
</head>
<body>
    <section class="your-business">
        <div>
            <h1 class="text">Crear Viaje</h1>
            <div class="row">
                <div class="travel-col">
                    <form action="{% url 'create_travel' %}" method=POST>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Crear" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
