{% extends 'itineris/base.html' %}

{% block content %}
<head>
    <title>Crear viaje</title>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places"></script>
</head>
<body>
    <section class="your-business">
        <div>
            <h1 class="text">Crear Viaje</h1>
            <div class="row">
                <form action="{% url 'create_travel' %}" method=POST>
                    <div class="row">
                        <div class="col-3 travel-col">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <label for="period_checkbox">¿Es un viaje periódico?</label>
                            <input type="checkbox" id="period_checkbox" name="period_checkbox">
                            <br><br>
                            <input type="submit" value="Crear" class="btn btn-primary">
                        </div>
                         <div class="col-3 travel-col h-25 invisible" id="period_col">
                            {{ period_form.as_p }}
                        </div>
                   </div>
                </form>
            </div>
        </div>
    </section>
</body>


<script>
    function initialize() {
        var input = document.getElementById('autocomplete');
        var autocomplete = new google.maps.places.Autocomplete(input, {
            types: ['address'],
            componentRestrictions: { country: 'ar' }  // Restricción para Argentina
        });

        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                console.log("No details available for input: '" + place.name + "'");
                return;
            }

            // Obtener las coordenadas (latitud y longitud) de la ubicación seleccionada
            var lat = place.geometry.location.lat();
            var lng = place.geometry.location.lng();

            // Guardar las coordenadas en el campo oculto 'geolocation'
            document.getElementById('id_geolocation').value = lat + "," + lng;
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    function getCurrentDateTime() {
        const now = new Date();
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
        const day = String(now.getDate()).padStart(2, '0');
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        
        return `${year}-${month}-${day}T${hours}:${minutes}`;
    }
    function getCurrentDate() {
        const now = new Date();
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
        const day = String(now.getDate()).padStart(2, '0');

        return `${year}-${month}-${day}`;
    }
    document.addEventListener('DOMContentLoaded', function() {
        const datetime_departure = document.querySelector('#id_datetime_departure');
        const datetime_arrival = document.querySelector('#id_datetime_arrival');
        const vehicle_select = document.querySelector('#id_vehicle');
        const driver_select = document.querySelector('#id_driver');
        
        const min_travel_duration = 10  //Duracón minima de un viaje en minutos
        
        datetime_departure.setAttribute('min', getCurrentDateTime())

        function updateVehicleOptions() {
            const selected_departure = datetime_departure.value;

            const selected_arrival = datetime_arrival.value;
            // Realiza una solicitud AJAX para obtener el queryset actualizado basado en los horarios de salida y llegada
            if (selected_departure && selected_arrival){
                fetch(`/get_available_options?salida=${selected_departure}&llegada=${selected_arrival}`)
                    .then(response => response.json())  // Parsea la respuesta como JSON
                    .then(data => {
                        // Limpiar opciones anteriores
                        vehicle_select.innerHTML = '';
                        driver_select.innerHTML = '';
                        console.log(data)
                        // Agregar --------- como primera opción
                        let emptyDriver = document.createElement('option');
                        emptyDriver.textContent = '---------'
                        driver_select.appendChild(emptyDriver);
    
                        // Agregar nuevas opciones
                        data['drivers'].forEach(driver => {
                            const option = document.createElement('option');
                            // Comprobamos si el objeto driver es una cadena simple o un objeto
                            const driverValue = typeof driver === 'object' ? driver.driver_id : driver;
                            option.value = driverValue;
                            option.textContent = driver.first_name + ' ' + driver.last_name + ' (' + driver.license_number + ')';
                            driver_select.appendChild(option);
                        });
    
                        let emptyVehicle = document.createElement('option');
                        emptyVehicle.textContent = '---------'
                        vehicle_select.appendChild(emptyVehicle);
                        data['vehicles'].forEach(vehicle => {
                            const option = document.createElement('option');
                            // Comprobamos si el objeto vehicle es una cadena simple o un objeto
                            const vehicleValue = typeof vehicle === 'object' ? vehicle.plate_number : vehicle;
                            option.value = vehicleValue;
                            option.textContent = vehicle.brand + ' ' + vehicle.car_model + ' (' + vehicle.plate_number + ')';
                            vehicle_select.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error al obtener datos:', error)); // Manejar errores
                
            }
            
        }

        // Agrega un listener al cambio en el campo de fecha y hora de salida
        datetime_departure.addEventListener('change', updateVehicleOptions);

        // Agrega un listener al cambio en el campo de fecha y hora de llegada
        datetime_arrival.addEventListener('change', updateVehicleOptions);
        
        // Pone en gris todas las fechas y horas menores a la de salida
        datetime_departure.addEventListener("change", function () {
            const departureDate = new Date(datetime_departure.value);

            const date_plus_minutes = new Date(departureDate.getTime() + min_travel_duration * 60000);
            const timezoneOffset = date_plus_minutes.getTimezoneOffset() * 60000; // Convert minutes to milliseconds
            const adjustedDate = new Date(date_plus_minutes.getTime() - timezoneOffset);


            console.log(date_plus_minutes.toISOString().slice(0, 16))
            datetime_arrival.setAttribute('min', adjustedDate.toISOString().slice(0, 16))
        });

        period_end_date.setAttribute('min', getCurrentDate())

        const checkbox = document.getElementById('period_checkbox');
        checkbox.value = false
        const targetElement = document.getElementById('period_col');

        checkbox.addEventListener('change', function() {
        if (!this.checked) {
            targetElement.classList.add('invisible');
        } else {
            targetElement.classList.remove('invisible');
        }
        });
    });

</script>

{% endblock %}
