{% extends 'itineris/base.html' %}

{% block content %}
<head>
    <title>Crear viaje</title>
    
</head>
<body>
    <section class="your-business">
        <div>
            <h1 class="text">Crear Viaje</h1>
            <div class="row">
                <div class="travel-col">
                    <form action="{% url 'create_travel' %}" method=POST>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Crear" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const datetime_departure = document.querySelector('#datetime_departure');
        const datetime_arrival = document.querySelector('#datetime_arrival');
        const vehicle_select = document.querySelector('#id_vehicle');
        const driver_select = document.querySelector('#id_driver');

        function updateVehicleOptions() {
            const selected_departure = datetime_departure.value;
            const selected_arrival = datetime_arrival.value;
            // Realiza una solicitud AJAX para obtener el queryset actualizado basado en los horarios de salida y llegada
            fetch(`/get_available_drivers?salida=${selected_departure}&llegada=${selected_arrival}`)
                .then(response => response.json())  // Parsea la respuesta como JSON
                .then(data => {
                    // Limpiar opciones anteriores
                    vehicle_select.innerHTML = '';
                    driver_select.innerHTML = '';
                    // Agregar nuevas opciones
                    data['vehicles'].forEach(vehicle => {
                        const option = document.createElement('option');
                        // Comprobamos si el objeto vehicle es una cadena simple o un objeto
                        const vehicleValue = typeof vehicle === 'object' ? vehicle.plate_number : vehicle;
                        option.value = vehicleValue;
                        option.textContent = vehicleValue;
                        vehicle_select.appendChild(option);
                    });
                    data['drivers'].forEach(driver => {
                        const option = document.createElement('option');
                        // Comprobamos si el objeto driver es una cadena simple o un objeto
                        const driverValue = typeof driver === 'object' ? driver.driver_id : driver;
                        option.value = driverValue;
                        option.textContent = driverValue;
                        driver_select.appendChild(option);
                    });
                })
                .catch(error => console.error('Error al obtener datos:', error)); // Manejar errores
        }

        // Agrega un listener al cambio en el campo de fecha y hora de salida
        datetime_departure.addEventListener('change', function() {
            updateVehicleOptions();
        });

        // Agrega un listener al cambio en el campo de fecha y hora de llegada
        datetime_arrival.addEventListener('change', function() {
            updateVehicleOptions();
        });

        // Llamar a la función para cargar las opciones inicialmente
        updateVehicleOptions();
    });
</script>

{% endblock %}
