{% extends 'itineris/base.html' %}

{% block content %}
    <br>
<div class="container">
    <div class="row">
            <h1>¿A dónde querés ir?</h1>
    </div>
    <div class="row">
        <div class="travel-col">
            <form action="{% url 'index' %}" method=POST>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Buscar" class="btn btn-primary">
            </form>

        </div>
    </div>
   </div>
    <script>
    function getCurrentDate() {
        const now = new Date();
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
        const day = String(now.getDate()).padStart(2, '0');

        return `${year}-${month}-${day}`;
    }
    document.addEventListener('DOMContentLoaded', function() {
        const datetime_departure = document.querySelector('#id_datetime_departure');
        
        datetime_departure.setAttribute('min', getCurrentDate());
    });
    
        
    </script>
{% endblock %}