{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-with, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Itineris</title>
    <link rel="stylesheet" type="text/css" href='../../static/itineris/css/style.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section class="header">
    <nav class="nav-header">
        <a href="index.html"> <img src="../../static/itineris/images/logo.png"> </a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="index.html">INICIO</a></li>
                <li><a href="">EMPRESAS</a></li>
                <li><a href="work-with-us.html">TRABAJA CON NOSOTROS </a></li>
                <li><a href="login.html">INICIO DE SESION</a></li>
                <li><a href="sign-in.html">REGISTRARSE</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>

    <div class="text-box">
        <h1>¿A donde querés ir?</h1>
    </div>
    <div class="row">
        <div class="travel-col">
            <form class="comment-form">
                <p>Origen</p>
                <input type="text" placeholder="Ciudad de origen">
                <p>Destino</p>
                <input type="text" placeholder="Ciudad de arribo">
                <br>

                <div class="wrapper-class">
                    <input type="radio" id="solo_ida" name="travel_type">
                    <label for="solo_ida">Solo Ida</label>
                    <input type="radio" id="ida_vuelta" name="travel_type">
                    <label for="ida_vuelta">Ida y Vuelta</label>
                </div>
                <p>Fechas</p>
                <div class="row-form">
                    <div class="col-form">
                        <p>Ida</p>
                        <input type="date">
                    </div>
                    <div class="col-form">
                        <p>Vuelta</p>
                        <input type="date">
                    </div>
                </div>
                <p>Pasajeros</p>
                <select class="form-control" tabindex="7">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
                <br>
                <br>
                <button type="submit" class="hero-btn">BUSCAR</button>
            </form>
        </div>
    </div>

</section>
<section class="footer">
    <h4>Sobre nosotros</h4>
    <p>lorem ipsus</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
    </div>
</section>

<!---------------- JavaScript to toggle the menu ----------------------->
<script>
    var navLinks = document.getElementById("navLinks")

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script>
</body>
</html>