{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
    <link rel="icon" href="{% static 'itineris/images/favicon.ico' %}" >
</head>
<body>
    <nav class="sidebar close">
            
        <div class="sd-header">
            <div class="image-text">
                <span class="image">
                    <img src="../../static/itineris/images/logo_reducido.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="businness">"Empresa"</span>
                </div>
                <div>
                    <i class='bx bx-chevron-right toggle'></i>
                </div>  
            </div>
        </div>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="sb-nav-link">
                        <a href="{% url 'your_travels' %}">
                            <i class='bx bx-trip icon'></i>
                            <span class="text sb-nav-text">Mis Viajes</span>
                        </a>
                    </li>
                    <li class="sb-nav-link ">
                        <a href="{% url 'create_travel' %}">
                            <i class='bx bx-book-add icon'></i>
                            <span class="text sb-nav-text">Crear un viaje</span>
                        </a>
                    </li>
                    <li class="sb-nav-link">
                        <a href="{% url 'your_vehicles' %}">
                            <i class='bx bx-bus icon'></i>
                            <span class="text sb-nav-text">Mis Vehículos</span>
                        </a>
                    </li>
                    <li class="sb-nav-link">
                        <a href="{% url 'your_drivers' %}">
                            <i class='bx bx-user icon'></i>
                            <span class="text sb-nav-text">Conductores</span>
                        </a>
                    </li>
                    <li class="sb-nav-link">
                        <a href="{% url 'your_payments' %}">
                            <i class='bx bx-wallet-alt icon'></i>
                            <span class="text sb-nav-text">Pagos</span>
                        </a>
                    </li>
                    <li class="sb-nav-link">
                        <a href=""> 
                            <i class='bx bx-log-out icon'></i>
                            <span class="text sb-nav-text">Salir</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
</nav>

    <!---------------- JavaScript to toggle the menu ----------------------->
    <script>
        const   body = document.querySelector("body"),
                sidebar = body.querySelector(".sidebar"),
                toggle = sidebar.querySelector(".toggle");

                toggle.addEventListener("click", () =>{
                    sidebar.classList.toggle("close");
                })
    </script>
</body>
</html>