{% load static %}

<nav class="navbar sticky-top navbar-expand-md bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
            <img src="{% static 'itineris/images/itineris_icon_48px.png' %}" alt="Logo" height="48"
                 class="d-inline-block align-text-top">
            <span class="ml-2">ITINERIS</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sign-up-business' %}">EMPRESAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'work-with-us' %}">TRABAJA CON NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about-us' %}">SOBRE NOSOTROS</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                {% if user.is_authenticated %}
                    <a class="btn btn-outline-secondary me-2 nav-button" type="button" href="{% url 'logout' %}">CERRAR
                        SESION</a>
                {% else %}
                    <a class="btn btn-outline-secondary me-2 nav-button" type="button" href="{% url 'login' %}">INICIAR
                        SESION</a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
</div>