<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta name="viewport" content="with=device-with, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Itineris</title>
    <link rel="stylesheet" href="../../static/itineris/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <section class="header">
        <nav>
            <a href="{% url 'index' %}"> <img src="../../static/itineris/images/logo.png"> </a>
        </nav>

        <div class="row">
            <div class="travel-col">
                <h2>Detalles del viaje</h2>
                <p>Fecha salida:</p>
                <div class="row-form-2">
                    <div class="col-form-2">
                        <p>Origen:</p>
                    </div>
                    <div class="col-form-2">
                        <p>Destino:</p>
                    </div>
                </div>
                <p>Pasajeros:</p>
                <p>Importe total:</p>
                <div class="row-modal">
                    <a href=""><button type="submit" class="hero-btn">Volver</button></a>
                    <button type="submit" class="hero-btn">Siguiente</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="travel-col">
                <form class="comment-form">
                    <h2>Datos 'N' Pasajero</h2>
                    <br>
                    <div class="row-form-2">
                        <div class="col-form">
                            <p>Nombre</p>
                            <input type="text" placeholder="Igual al DNI">
                        </div>
                        <div class="col-form">
                            <p>Apellido</p>
                            <input type="text" placeholder="Igual al DNI">
                        </div>
                    </div>
                    <div class="mini-row">
                        <div class="row-form-2">
                            <div class="col-form">
                                <p>Nacionalidad</p>
                                <select class="form-control" tabindex="7">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                            </div>
                            <div class="col-form">
                                <p>Fecha Nacimiento</p>
                                <input type="date">
                            </div>
                        </div>
                    </div>
                    
                    <div class="mini-row">
                        <div class="row-form-2">
                            <div class="col-form">
                                <p>Género</p>
                                <select class="form-control" tabindex="2">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                </select>
                            </div>
                            <div class="col-form">
                                <p>Tipo Documento</p>
                                <select class="form-control" tabindex="3">
                                    <option value="DNI">DNI</option>
                                    <option value="Pasaporte">Pasaporte</option>
                                    <option value="Otros">Otros</option>
                                </select>
                            </div>
                            <div class="col-form">
                                <p>N. Documento</p>
                                <input type="text" placeholder="Sin puntos">
                            </div>
                        </div>
                    </div>
                    
                    <div class="mini-row">
                        <div class="row-form-2">
                            <div class="col-form">
                                <p>¿Donde te buscamos?</p>
                        <input type="text" placeholder="Ej: Calle NRO, Ciudad">
                            </div>
                            <div class="col-form">
                                <p>¿Donde te dejamos?</p>
                        <input type="text" placeholder="Calle NRO, Ciudad">
                            </div>
                        </div>
                    </div>
                    

                    <div class="mini-row">
                        <p>Información de contacto</p>
                        <div class="row-form">
                            <div class="col-form">
                                <p>Email</p>
                                <input type="email" placeholder="email">
                            </div>
                            <div class="col-form">
                                <p>Teléfono</p>
                                <input type="text" placeholder="Teléfono">
                            </div>
                        </div>
                    </div>                
                </form>
            </div>
        </div>

        <div class="row">
            <div class="travel-col">
                <form class="comment-form">
                    <h2>Datos 'N' Pasajero</h2>
                    <br>
                    <div class="row-form-2">
                        <div class="col-form">
                            <p>Nombre</p>
                            <input type="text" placeholder="Igual al DNI">
                        </div>
                        <div class="col-form">
                            <p>Apellido</p>
                            <input type="text" placeholder="Igual al DNI">
                        </div>
                    </div>
                    <div class="mini-row">
                        <div class="row-form-2">
                            <div class="col-form">
                                <p>Nacionalidad</p>
                                <select class="form-control" tabindex="7">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                            </div>
                            <div class="col-form">
                                <p>Fecha Nacimiento</p>
                                <input type="date">
                            </div>
                        </div>
                    </div>
                    
                    <div class="mini-row">
                        <div class="row-form-2">
                            <div class="col-form">
                                <p>Género</p>
                                <select class="form-control" tabindex="2">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                </select>
                            </div>
                            <div class="col-form">
                                <p>Tipo Documento</p>
                                <select class="form-control" tabindex="3">
                                    <option value="DNI">DNI</option>
                                    <option value="Pasaporte">Pasaporte</option>
                                    <option value="Otros">Otros</option>
                                </select>
                            </div>
                            <div class="col-form">
                                <p>N. Documento</p>
                                <input type="text" placeholder="Sin puntos">
                            </div>
                        </div>
                    </div>
                    
                    <div class="mini-row">
                        <div class="row-form-2">
                            <div class="col-form">
                                <p>¿Donde te buscamos?</p>
                        <input type="text" placeholder="Ej: Calle NRO, Ciudad">
                            </div>
                            <div class="col-form">
                                <p>¿Donde te dejamos?</p>
                        <input type="text" placeholder="Calle NRO, Ciudad">
                            </div>
                        </div>
                    </div>
                    

                    <div class="mini-row">
                        <p>Información de contacto</p>
                        <div class="row-form">
                            <div class="col-form">
                                <p>Email</p>
                                <input type="email" placeholder="email">
                            </div>
                            <div class="col-form">
                                <p>Teléfono</p>
                                <input type="text" placeholder="Teléfono">
                            </div>
                        </div>
                    </div>                
                </form>
            </div>
        </div>

    </section>

    <!---------------- JavaScript to toggle the menu ----------------------->
    <script>
        var navLinks = document.getElementById("navLinks")

        function showMenu(){
            navLinks.style.right = "0";
        }

        function hideMenu(){
            navLinks.style.right = "-200px";
        }


    </script>
</body>
</html >