{% extends 'itineris/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-5">
            <h3 class="text-center"> Completa los datos de los pasajeros </h3>
            <div class="card m-4 p-3">
                <form action="{% url 'show_travelers' %}" method=POST>
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <button type="submit" class="btn btn-primary">Siguiente</button>
                </form>
            </div>
        </div>
        <div class="col-4 text-center" style="margin-top: 5rem">
            <h2>Detalles del viaje</h2>
            <div class="fs-4 text-secondary">
                <p>Fecha y hora salida: {{ segment.waypoint_origin.estimated_datetime_arrival }}</p>
                <p>{{ segment.waypoint_origin.city }}
                <p class="mb-3 text-primary"><i class="bi bi-arrow-down"></i></p>
                <p>{{ segment.waypoint_destination.city }}</p>
                <p class="text-success">Importe por persona: ${{ segment.fee }}</p>
            </div>
        </div>
        <div class="col-3 text-center" style="margin-top: 5rem">
            {% for traveler in travelers %}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://static.vecteezy.com/system/resources/thumbnails/002/318/271/small_2x/user-profile-icon-free-vector.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{traveler.first_name}} {{ traveler.last_name }}</h5>
                                <p class="card-text">N° Documento: {{ traveler.dni }}</p>
                                <p class="card-text"><small class="text-body-secondary"></small></p>
                                <a href="{% url 'edit_traveler' traveler.id %}">
                                    <i class="bi bi-pencil-square fs-3 text-grey"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}