{% extends 'itineris/base.html' %}

{% block content %}
    
{% include 'itineris/navbar.html' %}
<br>
<div class="container">

        <div class="row">
            <h1>Crear una cuenta</h1>
        </div>
        <div class="row-login">
            <div class="travel-col">
                <form class="comment-form">
                    <p>Nombre de la empresa</p>
                    <input type="text" placeholder="Nombre empresa">
                    
                    <p>Información de contacto</p>
                    <div class="row-form">
                        <div class="col-form">
                            <p>Email</p>
                            <input type="email" placeholder="email">
                        </div>
                        <div class="col-form">
                            <p>Teléfono</p>
                            <input type="text" placeholder="Teléfono">
                        </div>
                    </div>
                    
                    <p>Dirección</p>
                    <input type="text" placeholder="Dirección">
                    
                    <p class="inline-block">Licencia</p><i class="fa fa-info-circle" title="Archivo PDF emitido por el CNRT que avale su empresa"></i>
                    <input type="file" id="license" name="license">
                    <br>
                    <br>
                    <center>
                        <button type="submit" class="hero-btn">Crear cuenta</button>
                    </center>
                    
                </form>
            </div>
        </div>
</div>
        
{% endblock %}