{% extends 'itineris/base.html' %}

{% block content %}
<div class="row">
    <h1>Crear una cuenta</h1>
</div>
<div class="row-login">
    <div class="travel-col">
        <form class="comment-form">
            <p>DNI</p>
            <input type="text" placeholder="DNI">
            <div class="row">
                <div class="col-form">
                    <p>Nombre</p>
                    <input type="text" placeholder="Nombre">
                </div>
                
                <div class="col-form">
                    <p>Apellido</p>
                    <input type="text" placeholder="Apellido">
                </div>
            </div>
            <p>Email</p>
            <input type="email" placeholder="email">
            <br>
            <br>
            <center>
                <button type="submit" class="hero-btn">Crear cuenta</button>
            </center>
            
        </form>
    </div>
</div>

{% endblock %}