{% extends 'itineris/base.html' %}
{% load mathfilters %}

{% block content %}

    <head>
        <title>Historial de viajes</title>

    </head>

    <body>
    <section class="your-business">
        <div>
            <h1 class="text">Historial de viajes</h1>

            <div class="col-lg-11 table-container">
                <div class="row-travel">
                    <form action="{% url 'export_travel_history' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-2">
                                <label>
                                    Fecha desde
                                    <input type="text" id="min" name="min">
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    Fecha hasta
                                    <input type="text" id="max" name="max">
                                </label>
                            </div>

                            <div class="col-md-2">
                                <label>
                                    Conductor
                                    <select id="driverFilter" class="form-control">
                                        <option value="Todos">Todos</option>
                                        {% for driver in drivers %}
                                            <option value="{{ driver.id }}">{{ driver }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    Vehículo
                                    <select id="vehicleFilter" class="form-control">
                                        <option value="Todos">Todos</option>
                                        {% for vehicle in vehicles %}
                                            <option value="{{ vehicle.id }}">{{ vehicle.plate_number }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    Estado
                                    <select id="statusFilter" class="form-control">
                                        <option value="Todos">Todos</option>
                                        <option value="Completado">Completado</option>
                                        <option value="Agendado">Agendado</option>
                                        <option value="Cancelado">Cancelado</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-outline-success fs-4"><i
                                        class="bi bi-file-earmark-arrow-down"></i> Imprimir
                                </button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <table id="travel-history-table" class="content-table">
                        <thead>
                        <tr>
                            <th>Salida</th>
                            <th>Se anuncia a</th>
                            <th>Pasajeros</th>
                            <th>Conductor</th>
                            <th>Vehículo</th>
                            <th>Estado</th>
                            <th>Recaudado</th>
                            <th>Pago</th>
                            <th>Info</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for waypoint in travels %}
                            <tr>
                            <td>{{ waypoint.0.estimated_datetime_arrival|date:"Y-m-d H:i" }}</td>
                            <td>{{ waypoint.0.city }} - {{ waypoint.1.city }}</td>
                            <td>{{ waypoint.2 }}</td>
                            <td>{{ waypoint.0.travel.driver }}</td>
                            <td>{{ waypoint.0.travel.vehicle.plate_number }}</td>
                            <td>{{ waypoint.0.travel.status }}</td>
                            <td>${{ waypoint.3 }}</td>
                            <td>{{ waypoint.0.travel.payment_status }}</td>
                            <td>
                                <a href="{% url 'travel_detail' waypoint.0.travel.travel_id %}" class="btn"
                                   data-toggle="modal" data-target="#travelModal">
                                    <i class="bi bi-info-circle"></i>
                                </a>
                            </td>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <script>
        const driverFilter = document.querySelector('#driverFilter');
        const vehicleFilter = document.querySelector('#vehicleFilter');
        const statusFilter = document.querySelector('#statusFilter');

        const table = new DataTable('#travel-history-table', {
            moment: {
                format: 'D MMM YYYY HH:MM',
                locale: 'es-MX'
            },
            language: {
                url: '/static/itineris/localization/es-ES.json',
            },
            dom: '<"top"l>rt<"bottom"p><"clear">',
        });

        // Custom range filtering function
        table.search.fixed('range', function (searchStr, data, index) {
            let driver_selected = driverFilter.options[driverFilter.selectedIndex].text;
            let vehicle_selected = vehicleFilter.options[vehicleFilter.selectedIndex].text;
            let status_selected = statusFilter.options[statusFilter.selectedIndex].text;

            let driver = data[3] || "Todos";
            let vehicle = data[4] || "Todos";
            let status = data[5] || "Todos";

            return (driver_selected === "Todos" || driver_selected === driver) &&
                (vehicle_selected === "Todos" || vehicle_selected === vehicle) &&
                (status_selected === "Todos" || status_selected === status);
        });

        // Changes to the inputs will trigger a redraw to update the table
        driverFilter.addEventListener('change', function () {
            table.draw();
        });
        vehicleFilter.addEventListener('change', function () {
            table.draw();
        });
        statusFilter.addEventListener('change', function () {
            table.draw();
        });

        let minDate, maxDate;

        // Custom filtering function which will search data in column four between two values
        DataTable.ext.search.push(function (settings, data, dataIndex) {
            let min = minDate.val();
            let max = maxDate.val();
            let date = new Date(data[0]);

            if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
            ) {
                return true;
            }
            return false;
        });

        // Create date inputs
        minDate = new DateTime('#min', {
            format: 'DD/MM/YYYY'
        });
        maxDate = new DateTime('#max', {
            format: 'DD/MM/YYYY'
        });


        // Refilter the table
        document.querySelectorAll('#min, #max').forEach((el) => {
            el.addEventListener('change', () => table.draw());
        });
    </script>

    </body>

{% endblock %}
