{% extends 'itineris/base.html' %}

{% load mathfilters %}

{% block content %}

<section class="your-business">
    <div class="col-lg-10 table-container">
        <div class="row-travel">
            <div class="row">
                <div class="col">
                    <div class="modal-header">
                        <h5 class="modal-title" id="travelModalLabel">Detalle del viaje</h5>
                    </div>
                    <br>
                    <div class="modal-body">
                        <p>Salida: {{ travel.datetime_departure }}</p>
                        <p>Llegada estimada: {{ travel.estimated_datetime_arrival }}</p>
                        {% if travel.real_datetime_arrival %}
                            <p>Llegada: {{ travel.real_datetime_arrival}}</p>
                        {% elif travel.status == 'En proceso' %}
                            <form action="{% url 'mark_travel_ended'  travel.travel_id %}" method="get">
                                <button type="submit" class="btn btn-primary">Marcar viaje como completado</button>
                            </form>
                        {% endif %}

                        <p>Estado: {{ travel.status }}</p>
                        <p>Origen: {{ travel.city_origin }}</p>
                        <p>Destino: {{ travel.city_destination }}</p>

                        <p>Conductor: {{ travel.driver }}</p>

                        {% with amount=travel.vehicle.capacity|sub:travel.seats_left %}
                        <p>Vehículo: {{ travel.vehicle }}</p>
                        <p>Capacidad: {{ amount }}/{{ travel.vehicle.capacity }}</p>
                        <p>Ingresos brutos: ${{ travel.fee|mul:amount }}</p>
                        {% endwith %}
                    </div>
                    {% if travel.seats_left < travel.vehicle.capacity %}
                        <form action="{% url 'generate_route'  travel.travel_id %}" method="get">
                            <button type="submit" class="btn btn-primary mb-2">Generar mapa de ruta</button>
                        </form>
                        <a href="{{ travel.url }}">Ruta</a>
                    {% endif %}
                    {% if travel.status == 'Agendado' %}
                        <form action="{% url 'start_trip'  travel.travel_id %}" method="get">
                            <button type="submit" class="btn btn-primary">Dar inicio al viaje</button>
                        </form>
                    {% endif %}
                    <form action="{% url 'export_travelers_to_csv' travel.travel_id %}" method="get">
                        <button type="submit" class="btn btn-success">Exportar datos a CSV</button>
                    </form>

                    <table class="content-table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>DNI</th>
                                <th>Email</th>
                                <th>Teléfono</th>
                                <th>Dirección Origen</th>
                                <th>Dirección Destino</th>
                                <th>Feedback</th>
                            </tr>

                        </thead>
                        <tbody>
                            {% for traveler in travelers %}
                                <tr>
                                    <td>{{ traveler.first_name }}</td>
                                    <td>{{ traveler.last_name }}</td>
                                    <td>{{ traveler.dni }}</td>
                                    <td>{{ traveler.email }}</td>
                                    <td>{{ traveler.phone }}</td>
                                    <td>{{ traveler.addr_ori }} {{ traveler.addr_ori_num }}</td>
                                    <td>{{ traveler.addr_dest }} {{ traveler.addr_dest_num }}</td>
                                    <td>{{ traveler.feedback }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}