{% extends 'itineris/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-5 mx-auto">
            <div class="card m-4 p-3">
                <form action="{% url 'update_traveler' encrypted_traveler_id %}" method=POST>
                    {% csrf_token %}

                    <p>Nombre: {{ traveler.last_name }}, {{ traveler.first_name }} </p>
                    <p>DNI: {{ traveler.dni }}</p>
                    <p>Email: {{ traveler.email }}</p>
                    <p>Ciudad de salida: {{ traveler.segment.waypoint_origin.city }}</p>
                    <p>Ciudad de destino: {{ traveler.segment.waypoint_destination.city }}</p>

                    {{ form.as_table }}
                    <br>
                    <button type="submit" class="btn btn-success p-2 fs-4 mt-2">Guardar</button>
                </form>
                {% if can_cancel %}
                    <a class="btn btn-danger" href="{% url 'cancel_traveler_ticket' encrypted_traveler_id %}"
                       onclick="return confirm('¿Estás seguro de que deseas cancelar el viaje?')">Cancelar viaje
                        <i class="btn bi bi-trash3 text-light"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places"></script>
    <script>
        function initialize() {
            var input_origin = document.getElementById('autocomplete_origin');
            var autocomplete_origin = new google.maps.places.Autocomplete(input_origin, {
                types: ['address'],
                componentRestrictions: { country: 'ar' }  // Restricción para Argentina
            });

            autocomplete_origin.addListener('place_changed', function () {
                var place_origin = autocomplete_origin.getPlace();
                if (!place_origin.geometry) {
                    console.log("No details available for input: '" + place_origin.name + "'");
                    return;
                }
                // Obtener las coordenadas (latitud y longitud) de la ubicación seleccionada
                var lat_origin = place_origin.geometry.location.lat();
                var lng_origin = place_origin.geometry.location.lng();
                // Guardar las coordenadas en el campo oculto 'geolocation'
                document.getElementById('id_geocode_origin').value = lat_origin + "," + lng_origin;
            });
            var input_dest = document.getElementById('autocomplete_destination');
            var autocomplete_dest = new google.maps.places.Autocomplete(input_dest, {
                types: ['address'],
                componentRestrictions: { country: 'ar' }  // Restricción para Argentina
            });
            autocomplete_dest.addListener('place_changed', function () {
                var place_dest = autocomplete_dest.getPlace();
                if (!place_dest.geometry) {
                    console.log("No details available for input: '" + place_dest.name + "'");
                    return;
                }
                // Obtener las coordenadas (latitud y longitud) de la ubicación seleccionada
                var lat_dest = place_dest.geometry.location.lat();
                var lng_dest = place_dest.geometry.location.lng();
                // Guardar las coordenadas en el campo oculto 'geolocation'
                document.getElementById('id_geocode_destination').value = lat_dest + "," + lng_dest;
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
        document.addEventListener("DOMContentLoaded", function() {
            initialize();
        });
    </script>
{% endblock %}