{% extends 'itineris/base.html' %}

{% block content %}
        <div class="card m-4 p-3">
            <form action="{% url 'update_traveler' encrypted_traveler_id %}" method=POST>
                {% csrf_token %}

                <p>Nombre: {{ traveler.last_name }}, {{ traveler.first_name }} </p>
                <p>DNI: {{ traveler.dni }}</p>
                <p>Email: {{ traveler.email }}</p>
                <p>Ciudad de salida: {{ traveler.travel.city_origin }}</p>
                <p>Ciudad de destino: {{ traveler.travel.city_destination }}</p>

                {{ form.as_table }}
                <br>
                <button type="submit" class="btn btn-primary p-2 fs-3 mb-2">Guardar</button>
            </form>
            {% if can_cancel%}
                <a class="btn btn-danger" href="{% url 'cancel_traveler_ticket' encrypted_traveler_id %}"
                   onclick="return confirm('¿Estás seguro de que deseas cancelar el viaje?')">Cancelar viaje
                    <i class="btn bi bi-trash3 text-light"></i>
                </a>
            {% endif %}
        </div>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places"></script>
    <script>
    function initialize() {
        var input = document.getElementById('autocomplete');
        var autocomplete = new google.maps.places.Autocomplete(input, {
            types: ['address'],
            componentRestrictions: { country: 'ar' }  // Restricción para Argentina
        });

        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                console.log("No details available for input: '" + place.name + "'");
                return;
            }

            // Obtener las coordenadas (latitud y longitud) de la ubicación seleccionada
            var lat = place.geometry.location.lat();
            var lng = place.geometry.location.lng();

            // Guardar las coordenadas en el campo oculto 'geolocation'
            document.getElementById('id_geolocation').value = lat + "," + lng;
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}