{% extends 'itineris/base.html' %}

{% block content %}
    
    <br>
<div class="container">

    <h1>Trabaja con nosotros</h1>

    <section class="work-with-us">
        <div class="row">
            <div class="wwu-col">
                <p>En Itineris, estamos abriendo las puertas a nuevas colaboraciones con empresas que compartan nuestra 
                    visión de revolucionar el transporte de larga distancia en Argentina. Te invitamos a formar parte 
                    de este viaje hacia la eficiencia, la innovación y la conectividad. Únete a Itineris y sé parte de 
                    la transformación del transporte interurbano.
                </p>
                <a href="" class="hero-btn">Contáctanos</a>
            </div>
            <div class="wwu-col">
                <img src="../../static/itineris/images/working-people.jpg">
            </div>
        </div>
        <div class="wwu-col">
            <p>¿Tienes decidido que quieres trabajar con nosotros?
                <a href="{% url 'register_user' %}">Registrate aquí.</a>
            </p>
            
        </div>
    </section>
</div>

{% endblock %}