{% extends 'itineris/base.html' %}

{% block content %}
    
    {% include 'itineris/navbar.html' %}
    <br>
<div class="container">

    <h1>Trabaja con nosotros</h1>

    <section class="work-with-us">
        <div class="row">
            <div class="wwu-col">
                <h1>Lorem ipsum</h1>
                <p>Información general de como nos manejamos, que ofremos bla bla bla, abajo hay un botón que brinda información de contacto para trabajar con nosotros.
                    También hay que poner tipo un link directo a crear una cuenta de "empresa" donde tienen que cargar toda la información pertinente.
                </p>
                <a href="" class="hero-btn">Contactanos</a>
            </div>
            <div class="wwu-col">
                <img src="../../static/itineris/images/working-people.jpg">
            </div>
        </div>
        <div class="wwu-col">
            <p>¿Tienes decidido que quieres trabajar con nosotros?
                <a href="{% url 'sign-up-business' %}">Registrate aquí.</a>
            </p>
            
        </div>
    </section>
</div>

{% endblock %}