{% extends 'itineris/base.html' %}

{% block content %}

    <section class="your-business">
        <div>
            <h1 class="text">Vehículos</h1>
            <div class="col-lg-10 table-container">
                <div class="row-travel">
                    <table class="content-table">
                        <thead>
                        <tr>
                            <th>Patente</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Capacidad</th>
                            <th>Estado</th>
                            <th>
                                <button class="btn" data-bs-toggle="modal" data-bs-target="#createVehicle">
                                    <i class="bi bi-plus-circle"> Agregar</i>
                                </button>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for vehicle in vehicles %}
                            <tr>
                                <td>{{ vehicle.plate_number }}</td>
                                <td>{{ vehicle.brand }}</td>
                                <td>{{ vehicle.car_model }}</td>
                                <td>{{ vehicle.capacity }}</td>
                                <td>{{ vehicle.status }}</td>
                                <td>
                                    <button class="btn" data-bs-toggle="modal" data-bs-target="#travelsVehicle">
                                        <i class="bi bi-card-checklist"></i>
                                    </button>
                                </td>
                                <td>
                                    <a class="btn" href="{% url "update_vehicle" vehicle.plate_number %}">
                                        <i class="bi bi-pencil-square text-success"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'delete_vehicle' vehicle.plate_number %}"
                                       onclick="return confirm('¿Estás seguro de que deseas eliminar este elemento?')">
                                        <i class="btn bi bi-trash3 text-danger"></i>
                                    </a>
                                </td>
                            <tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Add Vehicle Modal -->
                <div class="modal fade" id="createVehicle" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="createVehicleLabel">Agregue un vehículo</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'your_vehicles' %}" method=POST>
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                                    </button>
                                    <button type="submit" class="btn btn-primary">Agregar vehículo</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Info Vehicle Modal -->
                <div class="modal fade" id="travelsVehicle" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Viajes del vehículo</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'your_vehicles' %}" method=POST>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}
