{% extends 'itineris/base.html' %}

{% block content %}

<section class="your-business">
    <div>
        <h1 class="text">Viajes</h1>
        
        <div class="col-lg-10 table-container">
            <div class="row-travel">
                <table id="your-travels-table" class="content-table">
                    <thead>
                        <tr>
                            <th class="date" style="width: 25%;">Fecha y Hora salida</th>
                            <th class="origin" style="width: 35%;">Se anuncia a</th>
                            <th class="capacity" style="width: 15%; text-align: center;">Pasajeros</th>
                            <th class="more-info"></th>
                            <th class="update"></th>
                            <th class="status"></th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for waypoint in travels %}
                            <tr>
                                <td>{{ waypoint.0.estimated_datetime_arrival|date:"Y-m-d H:i" }}</td>
                                <td>{{ waypoint.0.city }} - {{ waypoint.1.city }}</td>
                                <td style="text-align: center;">{{ waypoint.2 }}</td>
                                <td>
                                    <a href="{% url 'travel_detail' waypoint.0.travel.travel_id %}" class="btn" data-toggle="modal" data-target="#travelModal">
                                        <i class="bi bi-info-circle"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'update_travel' waypoint.0.travel.travel_id %}">
                                        <i class="bi bi-pencil-square text-grey"></i>
                                    </a>
                                </td>
                                <td>
                                    {% if waypoint.3 %}
                                        <i class="bi bi-clock" ></i>
                                    {% endif %}
                                </td>
                            </tr>

                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script>

</script>
{% endblock %}

