{% extends 'itineris/base.html' %}

{% block content %}

{% include 'itineris/navbar-business.html' %}
<body>
    <section class="your-businness">
        <div>
            <h1 class="text">Mis viajes</h1>
            
            <div class="table-container">
                <div class="row-travel">
                    <div class="row-filter">
                        <div class="col-filter">
                            <p>Fecha desde</p>
                            <input type="date">
                        </div>
                        <div class="col-filter">
                            <p>Fecha hasta</p>
                            <input type="date">
                        </div>
                        <div class="col-filter">
                            <p>Estado</p>
                            <select class="form-control" tabindex="4">
                                <option value="Todos">Todos</option>
                                <option value="Completado">Completado</option>
                                <option value="Cancelado">Cancelado</option>
                                <option value="En proceso">En proceso</option>
                            </select>
                        </div>
                        <div class="col-filter">
                            <p>Ordernar por:</p>
                            <select class="form-control" tabindex="3">
                                <option value="1">Fecha</option>
                                <option value="3">Monto</option>
                                <option value="4">Estado</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th class="date"        >Fecha salida</th>
                                <th class="origin"      >Origen</th>
                                <th class="destination" >Destino</th>
                                <th class="passanger"   >Pasajeros</th>
                                <th class="more-info"   ></th>
                                <th class="cancel"      ></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="date"       >1</td>
                                <td class="origin"     >2</td>
                                <td class="destination">3</td>
                                <td class="passanger"  >4</td>
                                <td class="more-info"  ><i class="fa fa-info-circle fa-lg table-icon" id="btn-more-info"></i></td>
                                <td class="cancel"     ><i class="fa fa-times-circle fa-lg table-icon" id="btn-cancel-travel"></i></td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <dialog class="travel-modal" id="info-modal">
                    <h3>Detalle del viaje</h3>
                    <p>Fecha Salida:</p>
                    <p>Salida:</p>
                    <p>Destino:</p>
                    <p>Pasajeros:</p>
                    <a href="">Ruta óptima</a>
                    <div class="scroll-table">
                        <table class="content-table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Teléfono</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row-modal">
                        <button type="submit" class="modal-btn" id="btn-close-more-info">CERRAR</button>
                        <button type="submit" class="modal-btn" id="btn-export"><i class='bx bxs-file-export'></i>EXPORTAR</button>
                    </div>
                </dialog>
                <dialog class="travel-modal" id="cancel-modal">
                    <h3>Detalle del viaje</h3>
                    <p>Fecha Salida:</p>
                    <p>Salida:</p>
                    <p>Destino:</p>
                    <p>Pasajeros:</p>
                    <h3>¿Está seguro que quiere cancelar este viaje?</h3>
                    <div class="row-modal">
                        <button type="submit" class="modal-btn" id="btn-close-cancel">SALIR</button>
                        <button type="submit" class="modal-btn" id="btn-delete-travel">SI, CANCELAR</button>
                    </div>
                </dialog>
            </div>
            
        </div>
        <!---------------- POPUP parar mostrar la información del viaje seleccionado ----------------------->
        
        
    </section>

    <!---------------- JavaScript to toggle the menu ----------------------->
    <script>
        const   body = document.querySelector("body"),
                sidebar = body.querySelector(".sidebar"),
                toggle = sidebar.querySelector(".toggle"),

                btn_more_info = document.querySelector("#btn-more-info"),
                btn_close_info = document.querySelector("#btn-close-more-info"),
                info_modal = document.querySelector("#info-modal"),
                
                btn_cancel_travel = document.querySelector("#btn-cancel-travel"),
                btn_close_cancel = document.querySelector("#btn-close-cancel"),
                cancel_modal = document.querySelector("#cancel-modal");

                /* MODAL MORE-INFO */
                btn_more_info.addEventListener("click", () =>{
                    info_modal.showModal();
                })
                btn_close_info.addEventListener("click", () =>{
                    info_modal.close()
                }
                )
                
                /* MODAL MORE-INFO */
                btn_cancel_travel.addEventListener("click", () =>{
                    cancel_modal.showModal();
                })
                btn_close_cancel.addEventListener("click", () =>{
                    cancel_modal.close()
                }
                )

                /* SIDE NAVBAR */
                toggle.addEventListener("click", () =>{
                    sidebar.classList.toggle("close");
                })

    </script>
    
</body>
{% endblock %}
