{% extends 'itineris/base.html' %}

{% block content %}

<body>
    <section class="your-businness">
        <div>
            <h1 class="text">Mis Vehículos</h1>
            
            <div class="table-container">
                <div class="row-travel">
                    <div class="row">
                        <div class="col">
                            <p>Marca</p>
                            <select class="form-control" tabindex="4">
                                <option value="Todos">Todos</option>
                                <option value="">a</option>
                                <option value="">b</option>
                                <option value="">c</option>
                            </select>
                        </div>
                        <div class="col">
                            <p>Modelo</p>
                            <select class="form-control" tabindex="4">
                                <option value="Todos">Todos</option>
                                <option value="">a</option>
                                <option value="">b</option>
                                <option value="">c</option>
                            </select>
                        </div>
                        <div class="col">
                            <p>Patente</p>
                            <select class="form-control" tabindex="4">
                                <option value="Todos">Todos</option>
                                <option value="">a</option>
                                <option value="">b</option>
                                <option value="">c</option>
                            </select>
                        </div>
                        <div class="col">
                            <p>Ordernar por:</p>
                            <select class="form-control" tabindex="3">
                                <option value="1">Marca</option>
                                <option value="3">Modelo</option>
                                <option value="4">Patente</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Patente</th>
                                <th> <i id="btn-add-vehicle" class="btn bi bi-plus-circle" > Agregar</i></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td><i id="btn-more-info" class="btn bi bi-info-circle" ></i></td>
                                <td><i id="btn-cancel-travel" class="btn bi bi-trash3" style="color:#d11a2a" ></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <dialog class="travel-modal" id="create-vehicle">
                    <h3>Cargar un nuevo vehículo</h3>
                    
                        <p>Marca</p>
                        <input type="text">
                        <p>Modelo</p>
                        <input type="text">
                        <p>Patente</p>
                        <input type="text">
                    
                    
                    <div class="row-modal">
                        <button type="submit" class="modal-btn" id="btn-add-cancel">CANCELAR</button>
                        <button type="submit" class="modal-btn" id="btn-add-create">CREAR</button>
                    </div>
                </dialog>

                <dialog class="travel-modal" id="info-modal">
                    <h3>Viajes del vehículo</h3>               
                    <div class="scroll-table">
                        <table class="content-table">
                            <thead>
                                <tr>
                                    <th>Fecha salida</th>
                                    <th>Origen</th>
                                    <th>Destino</th>
                                    <th>Pasajeros</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class=>1</td>
                                    <td class=>2</td>
                                    <td class=>3</td>
                                    <td class=>4</td>                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row-modal">
                        <button type="submit" class="modal-btn" id="btn-close-more-info">CERRAR</button>
                    </div>
                </dialog>
                <dialog class="travel-modal" id="cancel-modal">
                    <h3>Detalle del viaje</h3>
                    <p>Marca:</p>
                    <p>Modelo:</p>
                    <p>Patente:</p>
                    <h3>¿Está seguro que quieres eliminar este vehículo?</h3>
                    <div class="row-modal">
                        <button type="submit" class="modal-btn" id="btn-close-cancel">SALIR</button>
                        <button type="submit" class="modal-btn" id="btn-delete-travel">SI, ELIMINAR</button>
                    </div>
                </dialog>
            </div>
        </div>
    </section>

    <!---------------- JavaScript to toggle the menu ----------------------->
    <script>
        const   body = document.querySelector("body"),
                sidebar = body.querySelector(".sidebar"),
                toggle = sidebar.querySelector(".toggle"),

                btn_more_info = document.querySelector("#btn-more-info"),
                btn_close_info = document.querySelector("#btn-close-more-info"),
                info_modal = document.querySelector("#info-modal"),
                
                btn_cancel_travel = document.querySelector("#btn-cancel-travel"),
                btn_close_cancel = document.querySelector("#btn-close-cancel"),
                cancel_modal = document.querySelector("#cancel-modal"),
                
                btn_add_vehicle = document.querySelector("#btn-add-vehicle"),
                btn_add_cancel = document.querySelector("#btn-add-cancel"),
                add_vehicle_modal = document.querySelector("#create-vehicle");

                /* MODAL MORE-INFO */
                btn_more_info.addEventListener("click", () =>{
                    info_modal.showModal();
                })
                btn_close_info.addEventListener("click", () =>{
                    info_modal.close()
                }
                )
                
                /* MODAL CANCEL TRIP */
                btn_cancel_travel.addEventListener("click", () =>{
                    cancel_modal.showModal();
                })
                btn_close_cancel.addEventListener("click", () =>{
                    cancel_modal.close()
                }
                )

                /* MODAL ADD VEHICLE */
                btn_add_vehicle.addEventListener("click", () =>{
                    add_vehicle_modal.showModal();
                })
                btn_add_cancel.addEventListener("click", () =>{
                    add_vehicle_modal.close()
                }
                )

                /* SIDE NAVBAR */
                toggle.addEventListener("click", () =>{
                    sidebar.classList.toggle("close");
                })

    </script>
    
</body>
{% endblock %}
