{% extends 'itineris/base.html' %}

{% block content %}
    
    <section class="your-business">
        <div>
            <h1 class="text">Conductores</h1>
            <div class="col-md-10 table-container">
                <div class="row-travel">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>N° Licencia</th>
                                <th>Email</th>
                                <th>Numero de teléfono</th>
                                <th>
                                    <button class="btn" data-bs-toggle="modal" data-bs-target="#createDriver">
                                        <i class="bi bi-plus-circle"> Agregar</i>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for driver in drivers %}
                            <tr>
                                <td>{{ driver.first_name }}</td>
                                <td>{{ driver.last_name }}</td>
                                <td>{{ driver.license_number }}</td>
                                <td>{{ driver.email }}</td>
                                <td>{{ driver.phone_number }}</td>
                                <td>
                                    <button id="btn-more-info" class="btn">
                                        <i  class="bi bi-card-checklist" ></i>
                                    </button>
                                </td>
                                <td> 
                                    <a href="{% url 'delete_driver' driver.driver_id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar este elemento?')">
                                        <i class="btn bi bi-trash3"></i>
                                    </a>
                                </td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


                <!-- Modal crear conductor-->
                <div class="modal fade" id="createDriver" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="createDriverLabel">Agregue un conductor nuevo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="{% url 'your_drivers' %}" method=POST>
                            {% csrf_token %}
                            {{ form.as_p }}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Agregar conductor</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <dialog class="travel-modal" id="delete-modal">
                    <h3>Conductor</h3>
                    <p>Apellido:</p>
                    <p>Nombre:</p>
                    <p>DNI:</p>
                    <h3>¿Está seguro que quieres eliminar a este conductor?</h3>
                    <div class="row-modal">
                        <button type="submit" class="modal-btn" id="btn-close-del-modal">SALIR</button>
                        <button type="submit" class="modal-btn" id="btn-confirm-delete">SI, ELIMINAR</button>
                    </div>
                </dialog>
            </div>
        </div>
    </section>
{% endblock %}
