{% extends 'itineris/base.html' %}

{% block content %}

<section class="your-business">
    <div>
        <h1 class="text">Viajes</h1>
        
        <div class="col-lg-10 table-container">
            <div class="row-travel">
                <div class="row">
                    <div class="col">
                        <p>Fecha desde</p>
                        <input type="date">
                    </div>
                    <div class="col">
                        <p>Fecha hasta</p>
                        <input type="date">
                    </div>
                </div>
                <br>
                <table class="content-table">
                    <thead>
                        <tr>
                            <th class="date"        >Fecha y Hora salida</th>
                            <th class="origin"      >Origen</th>
                            <th class="destination" >Destino</th>
                            <th class="capacity"    >Capacidad</th>
                            <th class="fee"         >Tarifa</th>
                            <th class="more-info"   ></th>
                            <th class="cancel"      ></th>
                            <th class="cancel"      ></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for travel in travels %}
                            <tr>
                                <td>{{ travel.datetime_departure }}</td>
                                <td>{{ travel.city_origin }}</td>           
                                <td>{{ travel.city_destination }}</td>
                                <td>{{ travel.vehicle.capacity }}</td>
                                <td>${{ travel.fee }}</td>
                                <td>
                                    <a href="{% url 'travel_detail' travel.travel_id %}" class="btn" data-toggle="modal" data-target="#travelModal">
                                        <i class="bi bi-info-circle"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'delete_travel' travel.travel_id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar este viaje?')">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </td>
                                <td> 
                                    <a href="{% url 'delete_travel' travel.travel_id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar este viaje?')">
                                        <i class="btn bi bi-trash3"></i>
                                    </a>
                                </td>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}